#collapseTwo li:nth-child(2) {
  color: #40a8e8;
}
nav .nav {
  width: 172px;
  border-bottom: none;
}
nav .nav .navOne {
  float: left;
  color: #9e9e9e;
  height: 60px;
}
nav .nav .navTwo {
  float: right;
  height: 60px;
  border-bottom: 1px solid #40a8e8;
}
.content {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}
.content .title {
  height: 40px;
  background-color: #dff1ff;
  font-size: 16px;
  line-height: 40px;
  padding-left: 10px;
}
.content .con {
  background-color: #fff;
  padding-top: 30px;
  padding-left: 120px;
  width: 100%;
  font-size: 14px;
}
.content .con .con-t {
  height: 32px;
  width: 900px;
  margin-bottom: 90px;
  line-height: 32px;
}
.content .con .con-t input {
  width: 180px;
  height: 32px;
  margin-left: 10px;
  margin-right: 80px;
}
.content .con .con-t input:last-child {
  margin-right: 0px;
}
.content .con .cont-b {
  padding-left: 32px;
}
.content .con .cont-b textarea {
  resize: none;
  width: 400px;
  height: 120px;
  max-width: 400px;
  max-height: 120px;
  vertical-align: top;
  font-size: 12px;
  margin-left: 23px;
  padding: 6px;
}
.content .con button {
  width: 108px;
  height: 32px;
  background-color: #40a8e8;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 230px;
}
