/*公共样式*/
* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}
body {
  font-size: 12px;
  height: 100%;
}
.flower-index {
  overflow: hidden;
}
img {
  border: none;
}
li {
  list-style-type: none;
}
input,
select,
textarea {
  outline: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
nav {
  width: 100%;
  height: 60px;
  background-color: white;
  padding-left: 30px;
}
nav .nav {
  float: left;
  font-size: 14px;
  color: #40a8e8;
  border-bottom: 1px solid #40a8e8;
  height: 60px;
  line-height: 80px;
}
nav .nav i {
  font-size: 10px;
  margin-left: 4px;
}
nav .admin {
  float: right;
  padding-right: 90px;
  height: 60px;
  position: relative;
}
nav .admin i {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 30px;
  margin-top: 13px;
  color: #40a8e8;
  vertical-align: middle;
}
nav .admin .icon-shezhi.shezhi {
  font-size: 20px;
  cursor: pointer;
}
nav .admin .iconfont-people {
  font-size: 30px;
  margin-right: 4px;
  line-height: 60px;
}
nav .admin .username {
  display: inline-block;
  height: 60px;
  font-size: 14px;
  line-height: 60px;
  vertical-align: top;
}
nav .admin .edit {
  display: none;
  position: absolute;
  top: 48px;
  right: 41px;
  width: 78px;
  height: 62px;
  background-color: #FFFFFF;
  border: #a0daf3 solid 1px;
  border-radius: 3px;
}
nav .admin .edit .edit-list li {
  padding-left: 10px;
  text-align: left;
  height: 20px;
  line-height: 20px;
  color: #8c8c8c;
}
nav .admin .edit .edit-list li:hover {
  background-color: #def2fe;
  cursor: pointer;
}
nav .admin .edit:before {
  box-sizing: content-box;
  width: 0px;
  height: 0px;
  position: absolute;
  top: -16px;
  right: 55px;
  padding: 0;
  border-bottom: 8px solid #FFFFFF;
  border-top: 8px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  display: block;
  content: '';
  z-index: 12;
}
nav .admin .edit:after {
  box-sizing: content-box;
  width: 0px;
  height: 0px;
  position: absolute;
  top: -18px;
  right: 54px;
  padding: 0;
  border-bottom: 9px solid #a0daf3;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  display: block;
  content: '';
  z-index: 10;
}
.left-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 260px;
  height: 100%;
  background-color: #20335d;
  box-shadow: 3px 0 5px #f7f7f7;
  overflow: auto;
}
.left-nav .logo-title img {
  display: inline-block;
  padding: 16px 0 0 20px;
  vertical-align: middle;
}
.accordion {
  margin-top: 40px;
}
.accordion ul {
  padding-left: 0;
}
.accordion li {
  width: 100%;
}
.accordion li .link {
  height: 44px;
  line-height: 44px;
  cursor: pointer;
  margin-left: 20px;
  font-size: 16px;
  color: #FFF;
}
.accordion li .link span {
  color: #fff;
}
.accordion li .link span:nth-child(1) {
  margin-right: 20px;
}
.accordion li .link span:nth-child(2) {
  margin-left: 80px;
}
.accordion li .link .angle {
  float: right;
  margin-right: 30px;
}
#accordion .link:hover .icon-tubiao11 {
  color: #3fa8e9;
}
#accordion .link:hover {
  color: #3fa8e9;
}
/**
 * Submenu
 -----------------------------*/
.submenu {
  display: none;
  background: #1a294a;
  font-size: 16px;
}
.submenu li {
  background: #1a294a;
  border-right: 6px solid #3fa8e9;
}
.submenu li a {
  display: block;
  text-decoration: none;
  color: #FFF;
  padding: 12px;
  padding-left: 60px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.submenu li:hover a {
  color: #3fa8e9;
}
span.glyphicon.glyphicon-menu-hamburger {
  width: 17px;
  height: 17px;
  color: #a94118;
  display: inline-block;
}
#in .submenu li a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 15px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
#editor {
  background: #FFF;
}
ol,
ul {
  padding-left: 0;
}
