@font-face {
  font-family: 'zcg';
  src:  url('../fonts/zcg.eot?3xnml7');
  src:  url('../fonts/zcg.eot?3xnml7#iefix') format('embedded-opentype'),
    url('../fonts/zcg.ttf?3xnml7') format('truetype'),
    url('../fonts/zcg.woff?3xnml7') format('woff'),
    url('../fonts/zcg.svg?3xnml7#zcg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zcg' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before {
  content: "\e632";
}
.icon-p-delet:before {
  content: "\e66d";
}
.icon-edit:before {
  content: "\e604";
}
.icon-dingdan:before {
  content: "\e638";
}
.icon-ren:before {
  content: "\e63c";
}
.icon-fangdajing:before {
  content: "\e60b";
}
.icon-xitongguanli:before {
  content: "\e782";
}
.icon-tubiao11:before {
  content: "\e615";
}
.icon-cha:before {
  content: "\e602";
}
.icon-arrow-left:before {
  content: "\e605";
}
.icon-xiaoshou:before {
  content: "\e613";
}
.icon-shang:before {
  content: "\e63d";
}
.icon-xia:before {
  content: "\e63e";
}
.icon-chanpin:before {
  content: "\e607";
}
.icon-cangku:before {
  content: "\e661";
}
.icon-shangpin:before {
  content: "\e60d";
}
.icon-arrow-right:before {
  content: "\e612";
}
.icon-iconjia:before {
  content: "\e601";
}
.icon-icon-up:before {
  content: "\e603";
}
